#conteudo {
    background-color: #dcdcdc;
    height: 400px;
    display: flex;


    /*
    display: flex;
     row| row-reverse | clumn |column-reverse 
    flex-direction: row;
     nowrap | wrap |wrap-reverse
    flex-wrap: wrap;
     flex-start | flex-end | center | space-between | space-around
    justify-content: center;
     stretch | center | flex-start | flex-end |baseline 
    align-items: flex-start;
    */
}

.item {
    background: white;
    border: 1px solid gray;
    width: 100px;
    margin: 5px;
    text-align: center;
}

.item1 {
    /* Define a proporção de espaço ocupado por um item */
    flex-grow: 3;
}
.item2 {
    /* Define a proporção de espaço ocupado por um item */
    flex-grow: 2;
}
.item3 {
    /* Define a proporção de espaço ocupado por um item */
    flex-grow: 1;
}
.item4 {
    /* Define a proporção de espaço ocupado por um item */
    flex-grow: 1;
}

.ordem1 {
    order: 1;
}

.ordem2 {
    order: 2;
}

.ordem3 {
    order: 3;
}

.ordem4 {
    order: 4;
}